<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      @flubs/ionic4-phone-spinner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="difficulty = $event.detail?.value">
    <ion-segment-button *ngFor="let d of difficulties"
                        [value]="d"
                        [checked]="d === difficulty">
      <ion-label>
        {{ d | titlecase }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item-divider></ion-item-divider>

  <ion-card *ngIf="difficulty === 'not good'">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      Enter your phone number
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ul class="ion-margin-horizontal ion-padding-horizontal">
      <li>Shuffle animation lasts 1 second.</li>
    </ul>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="aightOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-card *ngIf="difficulty === 'bad'">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      Enter your phone number
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ul class="ion-margin-horizontal ion-padding-horizontal">
      <li>Shuffle animation lasts 1 second.</li>
      <li>Lock button sometimes ignores clicks.</li>
      <li>The incorrect digit locks/unlocks on click.</li>
      <li>Buttons change color, icon, position and size after the user shuffles, restarts, or unlocks all buttons.</li>
    </ul>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="badOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="difficulty === 'badder'">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      Try to enter your phone number
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ul class="ion-margin-horizontal ion-padding-horizontal">
      <li>Shuffle animation lasts 1 second.</li>
      <li>Lock/Unlock button sometimes ignores clicks.</li>
      <li>The incorrect digit locks/unlocks on click.</li>
      <li>Sometimes the lock is not actually locked.</li>
      <li>Locks automatically unlock after each shuffle.</li>
      <li>Buttons change color, icon, position and size after the user shuffles, restarts, or unlocks all buttons and randomly.</li>
    </ul>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="badderOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="difficulty === 'baddest'">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      You will never enter your phone number
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ul class="ion-margin-horizontal ion-padding-horizontal">
      <li>Shuffle animation lasts 2 seconds.</li>
      <li>Lock/Unlock button sometimes ignores clicks.</li>
      <li>The incorrect digit locks/unlocks on click.</li>
      <li>Sometimes the lock/unlock is not actually unlocked/locked.</li>
      <li>Locks/unlocks randomly change state.</li>
      <li>Lock toggles after each shuffle.</li>
      <li>Buttons change position, size, and to even more random colors and icons after all user actions and randomly.</li>
    </ul>
    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="baddestOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="difficulty === 'satan'">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      Good luck, fucker!
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ul class="ion-padding-horizontal ion-margin-horizontal">
      <li>Shuffle animation lasts 2 seconds.</li>
      <li>Lock/Unlock button sometimes ignores clicks.</li>
      <li>The incorrect digit locks/unlocks on click.</li>
      <li>Sometimes the lock/unlock is not actually unlocked/locked.</li>
      <li>Locks/unlocks randomly change state.</li>
      <li>Lock toggles after each shuffle.</li>
      <li>The locks must be locked in order (left to right).</li>
      <li>Buttons change position, size, and to even more random colors and icons after all user actions and randomly.</li>
      <li>...Oh and button labels lie and sometimes go mostly transparent.</li>
    </ul>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="satanOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>
</ion-content>
