<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      @flubs/ionic4-phone-spinner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="difficulty = $event.detail?.value">
    <ion-segment-button *ngFor="let d of difficulties"
                        [value]="d"
                        [checked]="d === difficulty">
      <ion-label>
        {{ d }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item-divider></ion-item-divider>

  <ion-card *ngIf="difficulty === 'bad'"
            style="height: 100%;">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      Enter your phone number
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ion-text class="ion-padding-horizontal">
      Shuffle animation lasts 1 second.
    </ion-text>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="badOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="difficulty === 'badder'"
            style="height: 100%;">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      Try to enter your phone number
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ion-text class="ion-padding-horizontal">
      Shuffle animation lasts 1 second.<br/>
      Lock button randomly ignores clicks.<br/>
      Randomly unlocks after each shuffle.
    </ion-text>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="badderOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="difficulty === 'baddest'"
            style="height: 100%;">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      You will never enter your phone number
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ion-text class="ion-padding-horizontal">
      Shuffle animation lasts 2 seconds.<br/>
      Lock and unlock buttons randomly ignore clicks.<br/>
      Randomly locks and unlocks after each shuffle.<br/>
      Randomly unlocks after locking digit.<br/>
      Randomly lies about being locked.
    </ion-text>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="baddestOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="difficulty === 'satan'"
            style="height: 100%;">
    <ion-title class="ion-text-center ion-margin ion-padding"
               style="width: 100%;">
      Good luck, fucker!
    </ion-title>

    <ion-card-subtitle class="ion-padding-horizontal">
      Difficulties
    </ion-card-subtitle>

    <ion-text class="ion-padding-horizontal ion-margin-horizontal">
      Shuffle animation lasts 3 seconds.<br/>
      Lock and unlock buttons randomly ignore clicks.<br/>
      Randomly locks and unlocks after each shuffle.<br/>
      Randomly locks or unlocks after unlocking or locking each digit.<br/>
      Randomly lies about being locked and unlocked.
    </ion-text>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <ionic4-phone-spinner
              [number]="value"
              [options]="fuOptions"
              (change)="change($event)">
      </ionic4-phone-spinner>
    </ion-card-content>
  </ion-card>
</ion-content>
